<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-title">Validé la carte</h4>
        <p class="mb-0 text-muted mt-1">
          Selectionné type de paiement
        </p>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="emitFinalOrderData()">
          <i class="fas fa-check me-1"></i> Validé
        </button>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="d-flex justify-content-between">
      <h4 class="mb-0">Grand Total :</h4>
      <!-- <h4 class="mb-0">{{ currency }}{{ total.toFixed(2) }}</h4> -->
      <h4 *ngIf="this.infoCarte && this.infoCarte.amount" class="mb-0"
        [ngClass]="{'text-danger': total > this.infoCarte.amount}">
        {{ currency }}{{ total.toFixed(2) }}
      </h4>
    </div>
  </div>
  <!--card-body-->
</div>
<!--end card-->