<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Nouveau Produit</h4>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <form [formGroup]="prodForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="type-input" class="col-sm-4 col-form-label text-lg-end">Type</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="type-input" formControlName="type">
                                        <option selected>Choisir un type</option>
                                        @for (type of typesProd; track $index) {
                                            <option [value]="type.id">{{ type.nom }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="depot-input" class="col-sm-4 col-form-label text-lg-end">Dépôt</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="depot-input" formControlName="depot" (change)="onChangeDepot($event.target)">
                                        <!-- <option selected>Choisir un dépôt</option> -->
                                        @for (depot of depotsProd; track $index) {
                                            <option [value]="depot.id">{{ depot.nom }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="uniter-input" class="col-sm-4 col-form-label text-lg-end">Unité</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="categorie-input" formControlName="uniter">
                                        <option selected>Choisir un unité</option>
                                        @for (unite of unitesProd; track $index) {
                                            <option [value]="unite.id">{{ unite.nom }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="ref-input" class="col-sm-4 col-form-label text-lg-end">Réf</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="ref-input" formControlName="ref">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="prix-achat-input" class="col-sm-4 col-form-label text-lg-end">Prix d'achat</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number" step="0.01" id="prix-achat-input" formControlName="prixachat">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-4 my-2 my-md-0 control-form-label text-lg-end">Caractéristiques</label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input
                                            formControlName="perissable"
                                            class="form-check-input"
                                            type="checkbox"
                                            id="inlineCheckbox1"
                                            value="option1"
                                        />
                                        <label class="form-check-label" for="inlineCheckbox1"
                                          >Perissable</label
                                        >
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input
                                            formControlName="seriazable"
                                            class="form-check-input"
                                            type="checkbox"
                                            id="inlineCheckbox2"
                                            value="option2"
                                        />
                                        <label class="form-check-label" for="inlineCheckbox2"
                                          >Seriazable</label
                                        >
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="categorie-input" class="col-sm-4 col-form-label text-lg-end">Catégorie</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="categorie-input" formControlName="categ">
                                        <option selected>Choisir une catégorie</option>
                                        @for (categ of categsProd; track $index) {
                                            <option [value]="categ.id">{{ categ.nom }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="depot-input" class="col-sm-4 col-form-label text-lg-end">Zone / Casier</label>
                                <div class="col-sm-8 d-flex">
                                    <div class="col-sm" style="margin-right: 6px;">
                                        <select class="form-select" id="depot-input" formControlName="zone" (change)="onChangeZone($event.target)">
                                            <!-- <option selected>Choisir une zone</option> -->
                                            @for (zone of zonesProd; track $index) {
                                                <option [value]="zone.id">{{ zone.nom }}</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm" style="margin-left: 6px;">
                                        <select class="form-select" id="depot-input" formControlName="casier">
                                            <option selected>Choisir un Casier</option>
                                            @for (casier of casiersProd; track $index) {
                                                <option [value]="casier.id">{{ casier.nom }}</option>
                                            }
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="nom-input" class="col-sm-4 col-form-label text-lg-end">Nom</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="nom-input" formControlName="nom">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="seuil-input" class="col-sm-4 col-form-label text-lg-end">Seuil / equivalance</label>
                                <div class="col-sm-8 d-flex">
                                    <div class="col-sm" style="margin-right: 6px;">
                                        <input class="form-control" type="number" id="seuil-input" formControlName="seuil">
                                    </div>
                                    <div class="col-sm" style="margin-left: 6px;">
                                        <input class="form-control" type="number" id="seuil-input" formControlName="qt_equivalance">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="prix-vente-input" class="col-sm-4 col-form-label text-lg-end">Prix de vente</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number" step="0.01" id="prix-vente-input" formControlName="prixvente">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="photo-input" class="col-sm-4 col-form-label text-lg-end">Photo</label>
                                <div class="col-sm-8">
                                    <input class="form-control" (change)="onChangeFile($event.target)" type="file" id="photo-input" formControlName="photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center mt-3">
                            <button type="submit" [disabled]="!prodForm.valid" class="w-100 btn-block btn btn-primary" (click)="onSubmit()">Ajouter Produit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>