<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Nouveau Inventaire</h4>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <form [formGroup]="inventaireForm" (ngSubmit)="onSubmit()">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="titre" class="form-label">Titre</label>
                                <input type="text" id="titre" class="form-control" formControlName="titre" />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="date_creation" class="form-label" >Date création</label>
                                <input [max]="maxDate" type="date" id="date_creation" class="form-control"
                                    formControlName="date_creation" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="remarque" class="form-label">Remarque</label>
                                <textarea id="remarque" class="form-control" formControlName="remarque"></textarea>
                            </div>

                            <!-- <div class="col-md-6 mb-3">
                                <label for="etat" class="form-label">État</label>
                                <input type="text" id="etat" class="form-control" formControlName="etat" />
                            </div> -->
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-end">
                                <button type="submit" [disabled]="!inventaireForm.valid" class="w-100 btn-block btn btn-primary">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>