<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Panier</h4>
            <p class="mb-0 text-muted mt-1">
              Selectionné les produits à ajouter
            </p>
          </div>
          <div class="col-auto">
            <input type="text" class="form-control" placeholder="Rechercher un produit" [(ngModel)]="searchTerm"
              (input)="filterData()" />
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="table-light">
              <tr>
                <th>Nom</th>
                <th class="text-end">Prix</th>
                <th class="text-end">Quantité</th>
                <th class="text-end">Ajouté</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of paginatedData; let i = index;">
                <td>
                  <img [src]="data.product.image" (error)="onImageError($event)" alt="" height="40" />
                  <p class="d-inline-block align-middle mb-0 ms-0.5">
                    <span class="d-block align-middle mb-0 product-name text-body">{{ data.product.name }}</span>
                    <span class="text-muted font-13">{{ data.product.description }}</span>
                  </p>
                </td>
                <td class="text-end">{{ data.price +' Ar' }}</td>
                <td class="text-end">{{ data.quantity }}</td>
                <td class="text-end">
                  <input class="form-control form-control-sm w-80 text-center" type="number" min="0" max="100"
                    [value]="data.quantityAdd !== null && data.quantityAdd !== undefined ? data.quantityAdd : 0"
                    (change)="handleQuantityChange(data.id!, $event)" placeholder=".form-control-lg" />
                </td>
                <td class="text-end">
                  <button class="btn btn-primary btn-sm" (click)="AddItemToParent(data.id!)">
                    <i class="fas fa-plus"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <nav class="mt-2" aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="goToPage(1)" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="previousPage()" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>
            <li *ngFor="let page of totalPagesArray" class="page-item" [class.active]="page === currentPage">
              <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="nextPage()" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="goToPage(totalPages)" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <order-list [orderData]="orderData" [orderDataAjoute]="orderDataAjoute" [infoCarte]="carteDetaille"
      [removeItem]="removeItem.bind(this)" (updateQuantity)="onQuantityUpdate($event)"
      (updateQuantityAdded)="onQuantityUpdateAdded($event)" (updatePriceAdded)="onPriceUpdateAdded($event)" />
    <order-details-summary [orderData]="orderData" [infoCarte]="carteDetaille"
      (finalOrderData)="ValidateData($event)" />
  </div>
  <div class="col-lg-12">

    <!-- <order-details-information [orderData]="orderData" [infoCarte]="carteDetaille" /> -->
  </div>
</div>