<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-sm-6 text-left">
                        <h4 class="card-title">Inventaire</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a [routerLink]="['/dashboard/stock-interne/mouvement-stock/nouveau-iventaire']"
                            class="btn btn-primary btn-sm float-right">Nouveau</a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Remarque</th>
                                <th scope="col">Responsable</th>
                                <th scope="col">État</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inventaire of records$ | async">
                                <th scope="row">{{ inventaire.id }}</th>
                                <td>{{ inventaire.titre }}</td>
                                <td>{{ inventaire.remarque }}</td>
                                <td>{{ inventaire.responsable }}</td>
                                <td>
                                    <span class="badge" [ngClass]="{
                                        'bg-success-subtle text-success':
                                          inventaire.etat == 'Completed',
                                        'bg-danger-subtle text-danger':
                                          inventaire.etat == 'Cancel',
                                        'bg-secondary-subtle text-secondary':
                                          inventaire.etat == 'Pending',
                                      }">
                                        <i class="fas me-1" [ngClass]="{
                                          'fa-check': inventaire.etat == 'Completed',
                                          'fa-xmark': inventaire.etat == 'Cancel',
                                          'fa-clock': inventaire.etat == 'Pending',
                                        }"></i>
                                        {{ inventaire.etat }}</span>
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/stock-interne/mouvement-stock/inventaire-detail/', inventaire.id]"
                                        class="me-0.5"><i class="las la-pen text-secondary fs-18"></i></a>
                                    <a href="javascript:void(0);"
                                        (click)="openModal(inventaireModal, { size: 'xl' }, inventaire)">
                                        <i class="las la-info text-secondary fs-18"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="(records$ | async)?.length === 0">
                                <td colspan="5" class="text-center">Aucun inventaire trouvé</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="tableService.page"
                        [pageSize]="tableService.pageSize">
                    </ngb-pagination>

                    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="tableService.pageSize">
                        <option [ngValue]="2">2 par page</option>
                        <option [ngValue]="4">4 par page</option>
                        <option [ngValue]="6">6 par page</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #inventaireModal let-modal class="modal-dialog modal-xl" id="inventaire-modal" tabindex="-1" role="dialog"
    aria-labelledby="inventaireModalLabel" aria-hidden="true">
    <div class="mt-0 w-100 modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalData?.contentTitle }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group mt-2 mb-0">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                *ngFor="let item of modalData?.list">{{ item }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="accordion mt-4" id="updateAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingUpdate">
                            <button class="accordion-button" [class.collapsed]="accordions['accordion2']" type="button"
                                (click)="toggleAccordion('accordion2')">
                                Mise à jours
                            </button>
                        </h2>
                        <div class="accordion-collapse" [class.collapse]="accordions['accordion2']"
                            [class.show]="!accordions['accordion2']">
                            <div class="accordion-body">
                                <form [formGroup]="inventaireForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="titre" class="form-label">Titre</label>
                                                <input type="text" id="titre" class="form-control"
                                                    formControlName="titre" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="responsable" class="form-label">Responsable</label>
                                                <input type="number" id="responsable" class="form-control"
                                                    formControlName="responsable" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="remarque" class="form-label">Remarque</label>
                                                <textarea id="remarque" class="form-control"
                                                    formControlName="remarque"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="etat" class="form-label">État</label>
                                                <input type="number" id="etat" class="form-control"
                                                    formControlName="etat" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="w-100 btn btn-block btn-success">{{ isEditMode ? 'Mettre à jour'
                                            : 'Modifier'
                                            }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>