<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-sm-6 text-left">
                        <h4 class="card-title">Créer panier</h4>
                    </div>
                    <!-- <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-primary btn-sm float-right"
                            (click)="openModalNew(newModalXl, { size: 'xl' })">Nouveau</button>
                    </div> -->
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Id Pannier Type</th>
                                <th scope="col">Id Caisse</th>
                                <th scope="col">Date Commande</th>
                                <th scope="col">Date Ajout</th>
                                <th scope="col">Remarque</th>
                                <th scope="col">Admin</th>
                                <th scope="col">Pannier Type</th>
                                <th scope="col">Client</th>
                                <th scope="col">Montant Reste</th>
                                <th scope="col">Montant Versé</th>
                                <th scope="col">Montant Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cree of records$ | async"
                                (click)="openModal(exampleModalXL, { size: 'xl' }, cree)">
                                <th scope="row">{{ cree.id }}</th>
                                <th scope="row">{{ cree.idPannierType }}</th>
                                <th scope="row">{{ cree.idCaisse }}</th>
                                <th scope="row">{{ cree.dateCommande }}</th>
                                <th scope="row">{{ cree.dateAjout }}</th>
                                <th scope="row">{{ cree.remarque }}</th>
                                <th scope="row">{{ cree.admin }}</th>
                                <th scope="row">{{ cree.pannierType }}</th>
                                <th scope="row">{{ cree.client }}</th>
                                <th scope="row">{{ cree.montantReste | number:'1.2-2' }}</th>
                                <th scope="row">{{ cree.montantVerser | number:'1.2-2' }}</th>
                                <th scope="row">{{ cree.montantTotal | number:'1.2-2' }}</th>
                            </tr>
                            <tr *ngIf="(records$ | async)?.length === 0">
                                <td colspan="12" class="text-center">Aucun enregistrement trouvé</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="tableService.page"
                        [pageSize]="tableService.pageSize">
                    </ngb-pagination>

                    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="tableService.pageSize">
                        <option [ngValue]="2">2 par page</option>
                        <option [ngValue]="4">4 par page</option>
                        <option [ngValue]="6">6 par page</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #exampleModalXL let-modal class="modal-dialog modal-xl" id="bd-example-modal-xl" tabindex="-1"
    role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="w-100 mt-0 mb-0 modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalData?.title }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>{{ modalData?.contentTitle }}</h5>
                        <ul class="list-group mt-2 mb-0">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                *ngFor="let item of modalData?.list">{{ item }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="accordion mt-4" id="updateAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingUpdate">
                            <button class="accordion-button" [class.collapsed]="accordions['accordion2']" type="button"
                                (click)="toggleAccordion('accordion2')">
                                Mise à jour
                            </button>
                        </h2>
                        <div class="accordion-collapse" [class.collapse]="accordions['accordion2']"
                            [class.show]="!accordions['accordion2']">
                            <div class="accordion-body">
                                <form [formGroup]="creerForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <!-- ID -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="id" class="form-label">ID</label>
                                                <input type="text" id="id" class="form-control" formControlName="id" />
                                            </div>
                                        </div>

                                        <!-- ID Pannier Type -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="idPannierType" class="form-label">ID Pannier Type</label>
                                                <input type="text" id="idPannierType" class="form-control"
                                                    formControlName="idPannierType" />
                                            </div>
                                        </div>

                                        <!-- ID Caisse -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="idCaisse" class="form-label">ID Caisse</label>
                                                <input type="text" id="idCaisse" class="form-control"
                                                    formControlName="idCaisse" />
                                            </div>
                                        </div>

                                        <!-- Date Commande -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="dateCommande" class="form-label">Date Commande</label>
                                                <input type="date" id="dateCommande" class="form-control"
                                                    formControlName="dateCommande" />
                                            </div>
                                        </div>

                                        <!-- Date Ajout -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="dateAjout" class="form-label">Date Ajout</label>
                                                <input type="date" id="dateAjout" class="form-control"
                                                    formControlName="dateAjout" />
                                            </div>
                                        </div>

                                        <!-- Remarque -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="remarque" class="form-label">Remarque</label>
                                                <textarea id="remarque" class="form-control"
                                                    formControlName="remarque"></textarea>
                                            </div>
                                        </div>

                                        <!-- Admin -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="admin" class="form-label">Admin</label>
                                                <input type="text" id="admin" class="form-control"
                                                    formControlName="admin" />
                                            </div>
                                        </div>

                                        <!-- Pannier Type -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="pannierType" class="form-label">Pannier Type</label>
                                                <input type="text" id="pannierType" class="form-control"
                                                    formControlName="pannierType" />
                                            </div>
                                        </div>

                                        <!-- Client -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="client" class="form-label">Client</label>
                                                <input type="text" id="client" class="form-control"
                                                    formControlName="client" />
                                            </div>
                                        </div>

                                        <!-- Montant Reste -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="montantReste" class="form-label">Montant Reste</label>
                                                <input type="number" id="montantReste" class="form-control"
                                                    formControlName="montantReste" />
                                            </div>
                                        </div>

                                        <!-- Montant Verser -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="montantVerser" class="form-label">Montant Verser</label>
                                                <input type="number" id="montantVerser" class="form-control"
                                                    formControlName="montantVerser" />
                                            </div>
                                        </div>

                                        <!-- Montant Total -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="montantTotal" class="form-label">Montant Total</label>
                                                <input type="number" id="montantTotal" class="form-control"
                                                    formControlName="montantTotal" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <button class="w-100 btn btn-block btn-primary">{{ isEditMode ? 'Traitement ...'
                                            : 'Mettre à jour' }}</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Quitter</button>
            </div>
        </div>
    </div>
</ng-template>

<!-- <ng-template #newModalXl let-modal class="modal-dialog modal-xl" id="bd-example-modal-xl" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="w-100 mt-0 mb-0 modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newcreerForm" (ngSubmit)="onNewSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="nom" class="form-label">Nom</label>
                                <input type="text" id="nom" class="form-control" formControlName="nom" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="type" class="form-label">Type</label>
                                <input type="text" id="type" class="form-control" formControlName="type" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="w-100 btn btn-block btn-primary">{{ isCreateMode ? 'Traitement ...'
                            : 'Créer' }}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Quitter</button>
            </div>
        </div>
    </div>
</ng-template> -->