<div class="card">
  <div class="card-header">
    <div class="row align-items-center" *ngIf="infoRavitaillement">
      <div class="col">
        <h4 class="card-title">Ravitaillement #{{ infoRavitaillement.order_id }}</h4>
        <p class="mb-0 text-muted mt-1">
          {{ infoRavitaillement.rav_name }} - {{ infoRavitaillement.product_details }} - {{ infoRavitaillement.amount }}
        </p>
      </div>
      <!--end col-->
      <div class="col-auto">
        <button class="btn btn-primary" (click)="triggerOpenModal()">
          <i class="fas fa-plus me-1"></i> Ajout produit
        </button>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end card-header-->
  <div class="card-body pt-0">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="table-light">
          <tr>
            <th>Nom</th>
            <th class="text-end">{{ currency }} Prix</th>
            <th class="text-end">Quantité</th>
            <th class="text-end">Total</th>
            <th class="text-end">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (data of orderData; track $index) {
          <tr>
            <td>
              <img [src]="data.product.image" alt="" height="40" />
              <p class="d-inline-block align-middle mb-0 ms-0.5">
                <span class="d-block align-middle mb-0 product-name text-body">{{ data.product.name }}</span>
                <span class="text-muted font-13">{{
                  data.product.description
                  }}</span>
              </p>
            </td>
            <td class="text-end">{{ currency }}{{ data.price }}</td>
            <td class="text-end w-80">
              <input class="form-control form-control-sm w-80 text-center" type="number" min="0" max="100"
                [value]="data.quantity" (change)="handleQuantityChange(data.id!, $event)"
                placeholder=".form-control-lg" />
            </td>
            <td class="text-end">{{ currency }}{{ data.price * data.quantity }}</td>
            <td class="text-end">
              <button class="btn btn-danger btn-sm" (click)="handleDeleteItem(data.id!)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <!--card-body-->
</div>
<!--end card-->

<div class="card">
  <div class="card-header">
    <div class="row align-items-center" *ngIf="infoRavitaillement">
      <div class="col">
        <h4 class="card-title">Produit ajouté</h4>
      </div>
      <!--end col-->
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <div class="card-body pt-0">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="table-light">
          <tr>
            <th>Nom</th>
            <th class="text-center">{{ currency }} Prix</th>
            <th class="text-center">Quantité</th>
            <th class="text-center">Total</th>
          </tr>
        </thead>
        <tbody>
          @for (data of orderDataAjoute; track $index) {
          <tr>
            <td>
              <img [src]="data.product.image" alt="" height="40" />
              <p class="d-inline-block align-middle mb-0 ms-0.5">
                <span class="d-block align-middle mb-0 product-name text-body">{{ data.product.name }}</span>
                <span class="text-muted font-13">{{
                  data.product.description
                  }}</span>
              </p>
            </td>
            <td class="text-center w-80">
              <input class="form-control form-control-sm w-80 text-center" type="number" min="0" max="100"
              [value]="data.price" (change)="handlePriceChangeAdded(data.id!, $event)"
              placeholder=".form-control-lg" /></td>
            <td class="text-center w-80">
              <input class="form-control form-control-sm w-80 text-center" type="number" min="0" max="100"
                [value]="data.quantity" (change)="handleQuantityChangeAdded(data.id!, $event)"
                placeholder=".form-control-lg" />
            </td>
            <td class="text-center">{{ currency }}{{ data.price * data.quantity }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="row align-items-center">
      <div class="col"></div>
      <div class="col-auto">
        <button class="btn btn-primary">
          <i class="fas fa-file me-1"></i> Sauvegardé
        </button>
      </div>
      <!--end col-->
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</div>